<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>profile</title>
</head>
<body>
	<div class="container" style = 'width: 50%; height:50%'>
		<%= form_with(scope: :profile, url: create_path, local: true) do |form| %>
			<%= hidden_field_tag :type, 1 %>
		  <%= form.label :name %>
		  <%= form.text_field :name , class: 'form-control'%>

		  <%= form.label :age %>
		  <%= form.text_field :age , class: 'form-control'%>

		  <%= form.label :address %>
		  <%= form.text_field :address, class: 'form-control' %>

		  <%= form.submit 'submit' , class: 'btn btn-primary'%>
		<% end %>
	</div>
	<div id = "rz_pay" class="btn btn-success">pay</div>
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
$('#rz_pay').on('click', function(e) {
    e.preventDefault();

    $.ajax({
        url: '/mainpage/create_order',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            var options = {
                "key": "rzp_live_gCl0983OhA6nBG", // Replace with your Razorpay key
                "amount": data.amount,
                "currency": "INR",
                "name": "bala company",
                "description": "Payment for demo",
                "image": "https://example.com/logo.png",
                "order_id": data.order_id,
                "callback_url": "https://balaslive.shop/payment_callback",
                "prefill": {
                    "name": "Bala",
                    "email": "bharathibala179@gmail.com",
                    "contact": "9361985078"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp = new Razorpay(options);
            rzp.open();
        },
        error: function(err) {
            alert("Order creation failed. Please try again.");
            console.error(err);
        }
    });
});
</script>

</html>