<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View</title>
</head>
<body>
	<div class = "table-container" style = "width:50%; height: 50%; align-content: center; margin: 0 auto; justify-content: center;">
		<table id = "data-profile-table" class="table table-dark table-striped">
			<thead>
				<th>Name</th>
				<th>Age</th>
				<th>Address</th>
				<th>Action</th>
			</thead>
			<tbody>
				<% @profiles.each do |profile| %>
					<tr>
						<td><%= profile.name %></td>
						<td><%= profile.age %></td>
						<td><%= profile.address %></td>
						<td><a href="#" class= "edit-btn" data-id = "<%= profile.id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square text-primary mr-5" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/></svg></a>  <a href="#" class="del-btn" data-id = "<%= profile.id %>"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill text-danger" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/></svg></a><a href= "<%= root_path %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle text-success" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg></a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</body>
</html>
<script type="text/javascript">
  $(document).ready(function () {

    $('.edit-btn').click(function () {
      let profileId = $(this).data('id');
      editandelete(2, profileId, '<%= edit_path %>', "GET");
    });

    $('.del-btn').click(function () {
      let profileId = $(this).data('id');
      editandelete(3, profileId, '<%= create_path %>', "POST");
    });

    function editandelete(type, id, url, ajax_type) {
      $.ajax({
        url: url,
        method: ajax_type,
        data: {type: type, id: id},
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        success: function (response) {
        	if(type === 3) {
          	window.location.href = '<%= view_path %>';
        	} else if( type === 2) {
        		window.location.href = `/mainpage/edit?id=${id}`;
        	}
        },
        error: function (xhr) {
          console.error('Error:', xhr.responseText);
        }
      });
    }
  });
</script>
